.removeButton{
    button{
        height: 35px;
        width: 70px;
        background-color: #FE0000;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 16px;
    }
}